<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDv0CJQ1IWKQiwuMGUbjDVhaVAJyx3VRYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>508119019178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messangerApp</string>
	<key>PROJECT_ID</key>
	<string>message-flutter-98a50</string>
	<key>STORAGE_BUCKET</key>
	<string>message-flutter-98a50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508119019178:ios:351143575d3668f8456ad3</string>
</dict>
</plist>